<div class="pt-0">
  <div class="single-component">
    <hr class="my-5">
    <h2 class="h5 font-italic"> Template name </h2>
    <span>{{component.html.template }}</span>

    {% if component.html.data is not null %}
      <div class="p-3 mt-4 border">
        <div class="b-block py-3"></div>
        <h2 class="h5 font-italic"> Preview </h2>
        {% set content = include(component.html.template, { items: component.html.data}) %}
        {{ content | raw}}
      </div>
    {% endif %}

    <pre class="code-block mb-4"><span class="copy-clipboard">Copy</span><code>{{component.html.content }}</code></pre>
    
    <h2 class="h5 font-italic"> Styles  </h2>
    <span>{{component.styles.template }}</span>
    <pre class="code-block mt-3"><span class="copy-clipboard">Copy</span><code>{{component.styles.content }}</code></pre>
    </div>
</div>
