{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="container">
  <h1>Hello {{ controller_name }}! ✅</h1>

  This friendly message is coming from:
  <ul>
    <li>Your controller at <code><a href="{{ '/home/jose/Code/github.com/Bysidecar/comp_catalog/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
    <li>Your template at <code><a href="{{ '/home/jose/Code/github.com/Bysidecar/comp_catalog/templates/pages/index.html.twig'|file_link(0) }}">templates/pages/index.html.twig</a></code></li>
  </ul>

  <div>
    {% for key, component in data %}

      {# {{dump(component)}} #}
      <h2>{{key}}</h2>

      <h3> Template name </h3>

      {{component.html.template }}
      <br>----------------------- <br>


      {% if component.html.data is not null %}
        <h3> Preview </h3>

        {% set content = include(component.html.template, { items: component.html.data}) %}
        {{ content | raw}}
        <br>----------------------- <br>
      {% endif %}

      <h3> HTML code </h3>

      <pre class="code-block"><span class="copy-clipboard">Copy</span><code>{{component.html.content }}</code></pre>
      
      <br>----------------------- <br>

      <h3> CSS  </h3>

      {{component.styles.template }}

      <pre class="code-block"><span class="copy-clipboard">Copy</span><code>{{component.styles.content }}</code></pre>
      <br>----------------------- <br>
    {% endfor %}
  </div>
</div>
{% endblock %}
