{% extends 'base.html.twig' %}

{% block title %}josedelrio85 | {{title}} {% endblock %}

{% block body %}
  {{ parent() }}

  <div class="main-container container mt-6 py-4">
    <div class="row">
      <div class="edit-container col-lg-9 px-4 px-lg-6 pt-5 pt-lg-0">
        <div class="row">
          <div class="col-12 edit-container-block">
            <div class="bg-primary p-4 mb-4 box-shadow-base">
              <h1 class="text-white h3">{{title}} <em>{{cat.name}}</em></h1>
            </div>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
              {{ form_widget(form) }}
            {{ form_end(form) }}
          </div>
          <div id="comp_async" class="col-12"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}